:root {
  --main-bg-color: #fff;
  --main-text-color: #888888;
  --second-text-color: black;
  --clock-color: black;
  --accent-bg-color: rgba(255, 255, 255, 0.2);
}
[data-theme="dark"] {
  --main-bg-color: #1e1f26;
  --main-text-color: #ccc;
  --second-text-color: white;
  --clock-color: #ccc;
  --accent-bg-color: unset;
}
* {
  box-sizing: border-box;
  /*    transition: all ease 0.2s; */
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  position: relative;
  transition: all ease 0.2s;
  cursor:none;
}

